.git/
.github/
.env
.env.*
!.env.example
node_modules/
vendor/
storage/
public/storage
public/hot
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*